[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qatarcars"]
	path = qatarcars
	url = https://github.com/profmusgrave/qatarcars
